@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-font:'Montserrat', sans-serif;
    --orange-color:#FFB039;
    --darkOrange-color:#FF9900;
    --lightOrange-color:#FFF3E1;
    --red-color:#ED1C23;
    --green-color:#038D00;
    --black-color:#000;
    --white-color:#fff;
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    color:var(--black-color);
    background-color: var(--white-color);
}
ul{
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
p{
    width:60%;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
    text-align: justify;
    color:var(--black-color);
    text-shadow: 0px 0px 2px rgb(128, 127, 127);
}
/* navbar */
.logo{
    width:50px;
}
.navbar{
    padding-left: 60px;
}
nav.sticky{
    background-color: white;
    transition:1s;
}
.nav-link{
    color:var(--black-color);
    font-family: var(--main-font);
    font-size:14px;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin:0 15px;
}
.nav-link::after{
    content: '';
    width:100%;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    background-color:var(--red-color) ;
    bottom:0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: .5s;
}
.nav-link:hover{
    color:var(--black-color);
}
.nav-link:hover::after{
    transform: scaleX(1);
}

/* header */
header{
    height: 90vh;
    background-image: linear-gradient(90deg,var(--white-color) 50%,var(--orange-color) 50%);
}
.container{
    padding-top:70px;
}

.header-content{
    margin: 50px 0;
}
.header-content h1{
    font-size: 90px;
    font-family: var(--main-font);
    font-weight: 700;
    color:var(--black-color);
    text-shadow: 0px 0px 2px rgb(146, 146, 146);
    text-align: left;
}
.header-content h4{
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 800;
    color:var(--black-color);
    text-shadow: 0px 0px 2px rgb(146, 146, 146);
}
.header-content h4 span{
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 800;
    color:var(--red-color);
    text-shadow: 0px 0px 2px rgb(146, 146, 146);
}
.header-content p{
    width:60%;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 400;
    text-align: justify;
    color:var(--black-color);
    text-shadow: 0px 0px 2px rgb(128, 127, 127);
}
.btn-red{
    box-shadow: 0px 1px 5px 0px rgb(143, 143, 143);
    background-color:var(--red-color);
    border-radius: 25px;
    padding:7px 25px;
    transition:.5s;
}
.btn-red:hover{
    box-shadow: 0px 2px 5px 0px rgb(105, 105, 105);
}
.btn-red span{
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    color:var(--white-color);
    text-shadow: 0px 0px 2px rgb(85, 85, 85);
}
.header-image{
    position: relative;
}
.header-image .img-burger{
    width:100%;
}
.header-image .img-fries1{
    position:absolute;
    width:30%;
    left:0;
    bottom:0;
}
.header-image .img-fries2{
    position:absolute;
    width:30%;
    bottom:20px;
    left:-80px;
    transform:rotate(-8deg)
}
.header-image h1{
    font-weight: 120px;
    font-weight: 800;
    font-family: var(--main-font);
    color:var(--red-color);
    position: absolute;
    bottom:160px;
    left:30px;
}



/* Delivary */
.delivary{
    background-color: var(--lightOrange-color);
    padding-bottom: 60px;
}
.delivary-content{
    width:100%;
}
.delivary-content h1{
    font-weight: 900;
    font-family: var(--main-font);
    font-size:45px;
    text-transform: uppercase;
}
.btn-green{
    box-shadow: 0px 1px 5px 0px rgb(143, 143, 143);
    background-color:var(--green-color);
    border-radius: 25px;
    padding:7px 25px;
    transition:.5s;
    text-transform: uppercase;
}
.btn-green:hover{
    box-shadow: 0px 2px 5px 0px rgb(105, 105, 105);
}
.btn-green span{
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    color:var(--white-color);
    text-shadow: 0px 0px 2px rgb(85, 85, 85);
}

.img-delivary{
    width:80%;
    padding:50px auto;
    transform: scaleX(-1);
}

/* Menu */

.Menu{
    width:100%;
    background:var(--white-color);
}
.Menu .container .row:nth-child(2){
    padding-top:50px;
    padding-bottom:50px;
}
.Menu .container .row h1{
    font-weight: 800;
    font-family: var(--main-font);
    font-size:36px;
}
.Menu .container .row .item{
    width:100%;
    padding:20px 15px;
    border-radius: 25px;
    box-shadow: 0px 0.5px 4px 0px rgb(168, 168, 168);
    
}
.Menu .container .row .item h3{
    font-size: 20px;
    font-family: var(--main-font);
    font-weight: 800;
    color:var(--black-color);
    text-shadow: 0px 0px 2px rgb(146, 146, 146);
    text-align: center;
    padding:10px 0;
}
.btn-orange{
    box-shadow: 0px 1px 5px 0px rgb(143, 143, 143);
    background-color:var(--darkOrange-color);
    border-radius: 25px;
    padding:7px 25px;
    transition:.5s;
    text-transform: uppercase;
}
.btn-orange:hover{
    box-shadow: 0px 2px 5px 0px rgb(105, 105, 105);
}
.btn-orange .text{
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 700;
    color:var(--white-color);
    text-shadow: 0px 0px 2px rgb(85, 85, 85);
}
.icon{
    display: none;
}

.Menu .container .row .item img{
    width:100%;
    margin:0 auto;
}
.Menu .container .row .item .price{
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 700;
    color:var(--red-color);
    text-shadow: 0px 0px 2px rgb(85, 85, 85);
}
.Menu .container .row:last-child{
    padding-top:50px;
    padding-bottom:50px;
}


/* About */
.about{
    background:var(--darkOrange-color);
}
.about-content h1{
    font-family: var(--main-font);
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top:50px;
    padding:20px 0;
}
.about-content p{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 500;
    padding:20px 0;
}
.about-img{
    width:100%;
    transform: rotate(10deg);
}
.about a{
    padding:10px 30px;
}

/* footer */
footer{
    width:100%;
    padding:50px 0;
}
.footer-socialmedia{
    width:100%;
    text-align: center;
}
.footer-socialmedia img{
    width:80px;
    display: inline-block;
}
.footer-socialmedia h1{
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: 900;
    color:var(--black-color);
    padding:20px 0;
}
.footer-socialmedia h1 span{
    color:var(--red-color);
}
.footer-socialmedia div i{
    color:#fff;
    font-size: 20px;
    padding:10px;
    background:var(--black-color);
    border-radius: 50%;
}
.footer-newsletter{
    width:100%;
    text-align: center;
}
.footer-newsletter h1{
    text-transform: uppercase;
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: 900;
    color:var(--black-color);
    padding:20px 0;
}
.footer-newsletter h1 span{
    color:var(--red-color);
}
.footer-newsletter p{
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 700;
    padding:20px 0;
    width: 100%;
    text-align: center;
}
.footer-newsletter p span{
    color:var(--red-color);
}
.footer-newsletter form{
    position: relative;

}
.footer-newsletter form .txtemail{
    border:1px solid var(--red-color);
    border-radius: 25px;
    padding:5px 10px;
    transition:.5s;
    
}
.submit{
    margin-left:-39px;
    border-radius: 25px;
    border:none;
    color: var(--white-color);
    background-color: var(--red-color);
    padding:10px 10px;
    transition:.5s;
}
.submit span{
    text-shadow: 0px 1px 0px #000;
}

@media screen and (min-width:768px) and (max-width:1023px){

    /* navbar */
    .navbar{
        background-color: white;
        padding-left: 0;
    }
    .collapse.navbar-collapse{
        background-color: white;
    }


    /* header */
    header{
        height: 550px;
        background: var(--orange-color);
    }
    .container{
        padding-top:70px;
    }
    
    .header-content{
        margin: 50px 0;
    }
    .header-content h1{
        font-size: 70px;
        font-family: var(--main-font);
        font-weight: 700;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
        text-align: left;
    }
    .header-content h4{
        font-size: 15px;
        font-family: var(--main-font);
        font-weight: 800;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
    }
    .header-content h4 span{
        font-size: 18px;
        font-family: var(--main-font);
        font-weight: 800;
        color:var(--red-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
    }
    .header-content p{
        width:60%;
        font-size: 13px;
        font-family: var(--main-font);
        font-weight: 400;
        text-align: justify;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(128, 127, 127);
    }

    .header-image{
        position: relative;
        padding-top:80px;
    }
    .header-image .img-burger{
        width:100%;
        
    }
    .header-image .img-fries1{
        position:absolute;
        width:30%;
        left:0;
        bottom:35px;
    }
    .header-image .img-fries2{
        position:absolute;
        width:30%;
        bottom:55px;
        left:-50px;
        transform:rotate(-8deg)
    }
    .header-image h1{
        font-weight: 120px;
        font-weight: 800;
        font-family: var(--main-font);
        color:var(--red-color);
        position: absolute;
        bottom:130px;
        left:20px;
    }

    /* Delivary */
    .delivary{
        background-color: var(--lightOrange-color);
        padding-bottom: 60px;
    }
    .delivary-content{
        width:100%;
    }
    .delivary-content h1{
        font-weight: 900;
        font-family: var(--main-font);
        font-size:45px;
        text-transform: uppercase;
    }
    .delivary-content p{
        width: 100%;
    }

    /* Menu */

    .Menu .container .row .item{
        width:100%;
        padding:20px 15px;
        border-radius: 25px;
        box-shadow: 0px 0.5px 4px 0px rgb(168, 168, 168);
        
    }
    .Menu .container .row .item h3{
        font-size: 15px;
        font-family: var(--main-font);
        font-weight: 800;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
        text-align: center;
        padding:10px 0;
    }
    .btn-orange .text{
        display: none;
    }
    .icon{
        display: inline-block;
        color: var(--white-color);
    }
    /* About */
    .about-content h1{
        font-family: var(--main-font);
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top:0;
        padding:0;
    }
    .about-content p{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        padding:20px 0;
        width:100%;
    }
    .about-img{
        width:100%;
        transform: rotate(10deg);
    
    }
}

@media screen and (max-width:767px){
    body{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
    /* navbar */
    .navbar{
        background-color: white;
        padding-left: 0;
    }
    .collapse.navbar-collapse{
        background-color: white;
    }


    /* header */
    header{
        height: 850px;
        width:100%;
        background: var(--orange-color);
        padding:0;
        margin:0;
    }
    .header-content{
        width:100%;
    }
    .header-content h1{
        font-size: 70px;
        font-family: var(--main-font);
        font-weight: 700;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
        text-align: left;
        width:100%;
    }
    .header-content h4{
        font-size: 15px;
        font-family: var(--main-font);
        font-weight: 800;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
    }
    .header-content h4 span{
        font-size: 18px;
        font-family: var(--main-font);
        font-weight: 800;
        color:var(--red-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
    }
    .header-content p{
        width:100%;
        font-size: 13px;
        font-family: var(--main-font);
        font-weight: 400;
        text-align: justify;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(128, 127, 127);
    }

    .header-image{
        position: relative;
        padding:0;
        margin:0;
        width: 100%;
    }
    .header-image .img-burger{
        width:100%;
        
    }
    .header-image .img-fries1{
        position:absolute;
        width:30%;
        left:25px;
        bottom:30px;
    }
    .header-image .img-fries2{
        position:absolute;
        width:30%;
        bottom:55px;
        left:-20px;
        transform:rotate(-8deg)
    }
    .header-image h1{
        font-weight: 120px;
        font-weight: 800;
        font-family: var(--main-font);
        color:var(--red-color);
        position: absolute;
        bottom:150px;
        left:40px;
    }

    /* Delivary */
    .delivary{
        background-color: var(--lightOrange-color);
        padding-bottom: 60px;
    }
    .delivary-content{
        width:100%;
    }
    .delivary-content h1{
        font-weight: 900;
        font-family: var(--main-font);
        font-size:45px;
        text-transform: uppercase;
    }
    .delivary-content p{
        width: 100%;
    }
    .img-delivary{
        width:100%;
        padding:50px 50px;
        transform: scaleX(-1);
    }
    

    /* Menu */

    .Menu .container .row .item{
        width:100%;
        padding:20px 15px;
        border-radius: 25px;
        box-shadow: 0px 0.5px 4px 0px rgb(168, 168, 168);
        margin:15px 0;
        
    }
    .Menu .container .row .item h3{
        font-size: 15px;
        font-family: var(--main-font);
        font-weight: 800;
        color:var(--black-color);
        text-shadow: 0px 0px 2px rgb(146, 146, 146);
        text-align: center;
        padding:10px 0;
    }
    .btn-orange .text{
        display: inline-block;
        padding-left:10px;
    }
    .icon{
        display: inline-block;
        color: var(--white-color);
    }
    /* About */
    .about-content h1{
        font-family: var(--main-font);
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top:0;
        padding:0;
    }
    .about-content p{
        font-family: var(--main-font);
        font-size: 16px;
        font-weight: 500;
        padding:20px 0;
        width:100%;
    }
    .about-img{
        width:100%;
        transform: rotate(10deg);
    
    }
}

@media screen and (min-width:1024px){
    body{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }
    /* navbar */
    .navbar{
        background-color: white;
        padding-left: 0;
    }
    .collapse.navbar-collapse{
        background-color: white;
    }


    /* header */
    header{
        height: 600px;
        width:100%;
        background: var(--orange-color);
        padding:0;
        margin:0;
    }
   
    
}
